* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  line-height: 1;
  font-family: Inter, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

ol, ul {
  list-style: none;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 32px;
  line-height: 1.2;
}
@media screen and (max-width: 1100px) {
  h1 {
    font-size: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

.subhead {
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .subhead {
    margin-bottom: 24px;
  }
}

a {
  text-decoration: none;
  color: black;
}

a[href^=tel], a[href^=sms] {
  color: inherit;
  text-decoration: none;
}

.primary-button {
  display: inline-block;
  background-color: #29831B;
  border-radius: 8px;
  padding: 10px 40px;
  border: none;
  color: white;
}

.main-container {
  flex: 1;
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0px;
  align-items: center;
}
@media screen and (max-width: 800px) {
  nav {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.logo-container img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .logo-container img {
    width: 200px;
  }
}
@media screen and (max-width: 1000px) {
  .logo-container img {
    width: 180px;
  }
}

.nav-links {
  display: flex;
  height: 24px;
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

.nav-link {
  margin: 0px 36px;
  text-decoration: none;
  color: black;
  align-self: flex-end;
}
.nav-link:hover a {
  color: #29831B;
}
@media screen and (max-width: 1500px) {
  .nav-link {
    margin: 0px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .nav-link {
    font-size: 16px;
    margin: 0px 16px;
  }
}
@media screen and (max-width: 900px) {
  .nav-link {
    font-size: 16px;
    margin: 0px 10px;
  }
}

.active-link a {
  color: #29831B;
  text-decoration: underline;
}

.nav-reservation-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media screen and (max-width: 1200px) {
  .nav-reservation-container {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .nav-reservation-container {
    display: none;
  }
}

.nav-reservation-phone-container {
  display: flex;
  margin-top: 12px;
  font-weight: 600;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .nav-reservation-phone-container {
    font-size: 14px;
  }
}

#phone-icon {
  margin-right: 8px;
}
@media screen and (max-width: 1000px) {
  #phone-icon {
    margin-right: 4px;
  }
}

.mobile-menu-icon-container {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-menu-icon-container {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  padding-top: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E0ECE0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.mobile-menu-open {
  transform: translateX(0); /* Slide in */
  width: 100%;
}

.no-scroll {
  overflow: hidden !important; /* Prevent scrolling when mobile menu is opened */
}

.close-mobile-menu-icon {
  align-self: flex-end;
  padding-right: 6%;
  font-size: 30px;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .close-mobile-menu-icon {
    font-size: 24px;
  }
}

.open-mobile-menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  left: 20px;
  top: 20px;
  z-index: 1100;
}
@media screen and (max-width: 600px) {
  .open-mobile-menu-icon {
    width: 24px;
    height: auto;
  }
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}

.mobile-nav-link {
  font-size: 20px;
  margin-top: 40px;
  text-decoration: underline;
}

.mobile-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.mobile-social-title {
  font-weight: bold;
  font-size: 18px;
}

.mobile-social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.mobile-social-icon {
  width: 32px;
  height: auto;
  margin: 0px 16px;
}

footer {
  background-color: #0E3606;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 120px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 80px 0px;
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
}
.footer-content h3 {
  color: white;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  padding: 10px 0px;
}
@media screen and (max-width: 768px) {
  .footer-content h3 {
    margin-top: 64px;
  }
}
@media screen and (max-width: 1300px) {
  .footer-content {
    padding-top: 48px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-content {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .footer-content {
    padding-top: 0px;
    flex-direction: column;
  }
}

@media screen and (max-width: 1300px) {
  .footer-logo-container {
    width: 100%;
    margin: 60px 0px;
  }
}
@media screen and (max-width: 768px) {
  .footer-logo-container {
    margin-bottom: 0px;
  }
  .footer-logo-container a img {
    width: 200px;
  }
}
@media screen and (max-width: 500px) {
  .footer-logo-container a img {
    width: 170px;
  }
}

.footer-item-container {
  display: flex;
  align-items: center;
  color: white;
  max-width: 280px;
  font-size: 16px;
  font-weight: 400px;
  margin-top: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .footer-item-container {
    font-size: 14px;
  }
}

.footer-icon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.social-icons {
  display: flex;
  max-width: 280px;
  margin-top: 20px;
}

.social-icon {
  margin-right: 16px;
}
@media screen and (max-width: 500px) {
  .social-icon {
    width: 32px;
    height: auto;
  }
}

/*# sourceMappingURL=global.css.map */
