.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-top-divider {
  width: 100%;
  margin: 12px 0px 0px;
  border: 1px solid #595959;
  opacity: 1;
}

.accordion {
  width: 92%;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: none;
  margin-bottom: 100px;
}
@media screen and (max-width: 600px) {
  .accordion {
    width: 100%;
  }
}

.menu-bottom-divider {
  display: none;
}

.menu-item-container {
  display: flex;
  margin: 0px 25px;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu-item-container {
    margin: 0px;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .menu-item-container {
    align-items: flex-end;
  }
}

.menu-item-wrapper {
  margin-right: 100px;
}
@media screen and (max-width: 960px) {
  .menu-item-wrapper {
    margin-right: 50px;
  }
}
@media screen and (max-width: 600px) {
  .menu-item-wrapper {
    margin-right: 8px;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .menu-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu-item-title {
  font-weight: bold;
  margin-bottom: 12px;
}

.menu-item-price {
  margin-top: 13px;
  font-weight: 500;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .menu-item-price {
    margin-top: 24px;
  }
}
@media screen and (max-width: 600px) {
  .menu-item-price {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.menu-item-image img {
  display: block;
  width: 96px;
  height: auto;
  margin-left: 100px;
}
@media screen and (max-width: 960px) {
  .menu-item-image img {
    margin-left: 50px;
  }
}
@media screen and (max-width: 600px) {
  .menu-item-image img {
    margin-left: 8px;
  }
}

.menu-overlay {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 280px;
}
@media screen and (max-width: 600px) {
  .menu-overlay {
    padding-bottom: 360px;
  }
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .close {
    top: 20px;
    right: 20px;
    font-size: 18px;
  }
}

.overlay-item-title {
  margin: 48px 0px 32px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .overlay-item-title {
    margin-top: 32px;
  }
}

.overlay-item-image {
  display: block;
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .overlay-item-image {
    max-width: 240px;
  }
}
@media screen and (max-width: 600px) {
  .overlay-item-image {
    max-width: 200px;
  }
}

.overlay-item-description {
  margin: 48px 48px 0px;
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .overlay-item-description {
    margin: 32px 20px 0px;
    font-size: 16px;
  }
}

.overlay-item-price {
  margin: 48px 0px 28px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .overlay-item-price {
    margin-top: 32px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=menu.css.map */
