html {
    padding: 0;
    margin: 0;
	overflow-y: scroll;
}

body {
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0 auto 0 auto;
    max-width: 1920px;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 32px;

    @media screen and (max-width: 1000px) {
        font-size: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    @media screen and (max-width: 768px) {
        font-size: 32px;
    }
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 0px;
    margin-bottom: 32px;

    @media screen {
        margin-bottom: 24px;
    }
}

button {
    background-color: #29831B;
    border-radius: 8px;
    padding: 8px 40px;
    border: none;
    color: white;
}

.main-container {
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
        width: 90%;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px;
    align-items: center;

    @media screen and (max-width: 800px) {
        margin-top: 40px;
        margin-bottom: 40px;
        
    }
}

.logo-container img {
    max-width: 100%;
    height: auto;

    @media screen and (max-width: 1200px) {
            width: 200px;
    }

    @media screen and (max-width: 1000px) {
        width: 180px;
    }
}

.nav-links {
    display: flex;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.nav-link {
    margin: 0px 20px;
    text-decoration: none;
    color: black;

    &:hover a {
        color: #29831B;
    }

    @media screen and (max-width: 1200px) {
        font-size: 16px;
        margin: 0px 16px;
    }

    @media screen and (max-width: 900px) {
        font-size: 16px;
        margin: 0px 10px;
    }
}

.active-link a {
    color: #29831B;
    text-decoration: underline;
}

.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: end;

    @media screen and (max-width: 1200px) {
        font-size: 16px;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.reservation-phone-container {
    display: flex;
    margin-top: 8px;
    font-weight: 600;
    align-items: end;

    @media screen and (max-width: 1000px) {
        font-size: 14px;
    }
}

#phone-icon {
    margin-right: 8px;
    transform: translateY(4px);

    @media screen and (max-width: 1000px) {
        margin-right: 4px;
    }
}

.mobile-menu-icon-container {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.mobile-menu {
    position: fixed;
    right: -100%; /* Start off-screen */
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: #E0ECE0;
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.close-mobile-menu {
    align-self: flex-end;
    font-size: 30px;
    border: none;
    background: none;
    padding: 0px;
    margin: 36px 6% 0px 0px;
    color: black;
}

.open-mobile-menu {
    font-size: 20px;
    cursor: pointer;
    left: 20px;
    top: 20px;
    z-index: 1100;
    border: none;
    border-radius: 8px;
    padding: 0px;
    color: white;
}

.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
}

.mobile-nav-link {
    font-size: 20px;
    margin-top: 40px;
    text-decoration: underline;
}

.mobile-social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.mobile-social-title {
    font-weight: bold;
    font-size: 18px;
}

.mobile-social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.mobile-social-icon {
    width: 32px;
    height: auto;
    margin: 0px 16px;
}

.footer {
    background-color: #0E3606;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 80px 0px;
    width: 80%;
    margin: 0 auto;

    h3 {
        color: white;
        margin: 0px;
        padding: 0px;
        line-height: 1;
        padding: 10px 0px;

        @media screen and (max-width: 768px) {
            margin-top: 64px;
        }
    }

    @media screen and (max-width: 1000px) {
        padding-top: 48px;
        width: 90%;
    }

    @media screen and (max-width: 768px) {
        padding-top: 32px;
        flex-direction: column;
    }
}

.footer-logo-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        margin-top: 32px;
    }

    img {
        @media screen and (max-width: 1200px) {
            width: 200px;
            height: auto;
        }
    }
}

.footer-item-container {
    display: flex;
    color: white;
    max-width: 280px;
    font-size: 16px;
    font-weight: 400px;
    margin-top: 20px;

    @media screen and (max-width: 1300px) {
        max-width: 240px;
        font-size: 14px;
    }
}

.footer-icon {
    margin-right: 16px;
}

.map-pin-icon {
    padding-top: 6px;
}

.social-icons {
    display: flex;
    max-width: 280px;
    margin-top: 20px;
}

.social-icon {
    margin-right: 16px;
}