.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    width: 100%;

    @media screen and (max-width: 1000px){
        padding-top: 24px;
    }

    @media screen and (max-width: 850px){
        h1 {
            font-size: 36px;
        }  
    }

    @media screen and (max-width: 768px){
        padding-top: 0px;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}

.hero-content {
    width: 30%;
    margin-right: 120px;

    @media screen and (max-width: 1780px){
        width: 40%;
    }


    @media screen and (max-width: 1200px){
        width: 50%;
        margin-right: 100px;
    }

    @media screen and (max-width: 900px){
        width: 60%;
        margin-right: 80px;
    }

    @media screen and (max-width: 768px){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 48px;
        text-align: center;

        .subhead {
            font-size: 16px;
        }
    }
}

.hero-image img {
    display: block;
    max-height: 560px;
    width: 100%;
    height: auto;
    border-radius: 12px;

    @media screen and (max-width: 1600px) {
        max-height: 500px;
    }

    @media screen and (max-width: 768px) {
            max-height: none;
    }
}

.reservation-container {
    display: none;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        margin-top: 64px;
    }
}

.reservation-phone-container {
    display: none;

    @media screen and (max-width: 768px) {
        display: flex;
        margin-top: 8px;
        font-weight: 600;
        align-items: end;
        font-size: 16px;
    }
}

.photo-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    @media screen and (max-width: 768px) {
        margin-top: 64px;        
    }
}

.photo-gallery {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 64px;

    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
      }
}

.photo-gallery-item img {
    width: 100%;
    display: block;
    border-radius: 12px;
    height: auto;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  #image-overlay img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
  }
  
  